*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}
.cabecalho {
    background-color: #682206;
    color: rgb(240, 240, 240);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 15%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 16px;
}

.Lendas1-imagem{
    width: 15%;
}


.Lendas1-div-conteudo{
    width: 35%;
}


.Lendas1-titulo{
    padding: 24px 0;
}

.Lendas1{
    background-image: linear-gradient(#9e1402,#b91212);
    color:rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.lenda{
    padding: 24px 0;
}
.anhanguá-imagem{
    width: 120px;
}

.anhanguá-icone{
    width: 24px;
    padding: 4px 8px;
}

.anhanguá-div{
    text-align: center;
    padding: 16px 0;
}

